@model DotNetCoreSqlDb.Models.Event

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Event</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

<span>

    @foreach (var e in ViewBag.EventChoices)
    {
    <h4>@e.restaurant.Name | <a asp-action="Delete" asp-controller="Choice" asp-route-id="@e.choice.ID">Delete</a> </h4>  

       
<h5>Suggested by @e.choice.Suggester</h5>

}
</span>